# Supabase Configuration
# Obtén estas credenciales de tu proyecto en supabase.com

# URL del proyecto Supabase
EXPO_PUBLIC_SUPABASE_URL=https://ceqqvktlolxkglwrxrke.supabase.co

# Clave anónima de Supabase
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNlcXF2a3Rsb2x4a2dsd3J4cmtlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc0MjI1MzcsImV4cCI6MjA5Mjk5ODUzN30.n63x1cSyo91PyefkUTzJIagnY7dPWtWsIBZcaAQMjEU

# Variable de entorno para indicar el ambiente
EXPO_PUBLIC_ENV=development
